zabbix:
  # Overrides map.jinja
  #lookup:
  #  agent:
  #    version: xxx
  #  frontend:
  #    version: xxx
  #  server:
  #    version: xxx

  # The files_switch key serves as a selector for alternative directories under
  # the formula files directory. See TOFS pattern doc for more info.
  files_switch:
    - id
    - os_family

  # Zabbix user has to be member of some groups in order to have permissions to
  # execute or read some things
  user_groups:
    - adm

zabbix-agent:
  server:
    - localhost
  serveractive:
    - localhost
  listenip: 0.0.0.0
  listenport: 10050
  hostmetadata: c9767034-22c6-4d3d-a886-5fcaf1386b77
  # For zabbix-agent below version 3 if you want to use syslog instead of file specify
  # logfile: syslog
  logfile: /var/log/zabbix/zabbix_agentd.log
  logfilesize: 0
  include: /etc/zabbix/zabbix_agentd.d/
  # Or multiple "Include" options
  includes:
    - /etc/zabbix/zabbix_agentd.d/
    - /some/custom/location/
  userparameters:
    - net.ping[*],/usr/bin/fping -q -c3 $1 2>&1 | sed 's,.*/\([0-9.]*\)/.*,\1,'
    - custom.vfs.dev.discovery,/usr/local/bin/dev-discovery.sh
  extra_conf: |
    # Here we can set extra agent configuration lines

zabbix-server:
  listenip: 0.0.0.0
  listenport: 10051
  dbhost: localhost
  dbname: zabbix
  dbuser: zabbixuser
  dbpass: zabbixpass
  extra_conf: |
    # Here we can set extra server configuration lines

zabbix-mysql:
  dbhost: localhost
  dbname: zabbix
  dbuser: zabbixuser
  dbpass: zabbixpass
  dbuser_host: '%'
  # Optionally specify this for a non-local dbhost
  #dbroot_user: 'root'
  #dbroot_pass: 'rootpass'

zabbix-frontend:
  dbtype: MYSQL
  dbhost: localhost
  dbname: zabbix
  dbuser: zabbixuser
  dbpass: zabbixpass
  zbxserver: localhost
  zbxserverport: 10051
  zbxservername: 'Zabbix installed with saltstack'

zabbix-proxy:
  proxymode: 0
  server: localhost
  serverport: 10051
  hostname: localhost
  hostnameitem: system.hostname
  listenport: 10051
  sourceip: 127.0.0.1
  logfile: syslog
  logfilesize: 0
  debugelevel: 3
  pidfile: /tmp/zabbix_proxy.pid
  dbhost: localhost
  dbname: /var/lib/zabbix/zabbix_proxy.db
  dbuser: zabbix
  include: /etc/zabbix/zabbix_proxy.d/

# ------------------ NG ---------------------
# New implementation of formula, based on pillar (no configs in states)
# ALL data in pillar optional and have default values in map.jinja
# use nginx instead of apache optional too.
# to add any line (not used in map.jinja) to config just add it with valid name in config section.
zabbix:
   ng:
    agent:    # agent config 
      config:
        Server: 127.0.0.1
        ServerActive: 127.0.0.1
        Hostname: Zabbix_Agent01
        # To enable TLS (optional)
        TLSConnect: psk
        TLSAccept: psk
        TLSPSKIdentity: zabbix-agent01
        TLSPSKFile: /etc/zabbix/zabbix_agent.psk
        # to get key use "$ openssl rand -hex 32"
        TLSPSK: '0ca77405116cb54f87eb1723c3ac8cdf077abb04b3aac350cb00d6dfa2322eb9'



    proxy:
      config:
        ProxyMode: 0
        Server: zabbix_server.local
        ServerActive: zabbix_server.local
        Hostname: Zabbix_Proxy
        Timeout: 4
        ExternalScripts: /usr/lib/zabbix/externalscripts
        DBDir: /srv/db # need to create dir and set permissions
        DBName: /srv/db/zabbix_proxy.db
        # To enable TLS (optional)
        TLSConnect: psk
        TLSAccept: psk
        TLSPSKIdentity: zabbix-proxy
        TLSPSKFile: /etc/zabbix/zabbix_proxy.psk
        # to get key use "$ openssl rand -hex 32"
        TLSPSK: '0ca77405116cb54f87eb1723c2ac8cdf077abb04b3aac350cb00d6dfa2322eb9'

    server:   # server config
      config:
        DBName: zabbix
        DBUser: zabbix
        DBPassword: 'PassWorD$%'
        Timeout: 30

    frontend:
      use_nginx: True # this optoion disable apache, install and configure nginx

# nginx config for zabbix, it require nginx-formula 
nginx:
  ng:
    servers:
      managed:
        zabbix: # relative pathname of the server file
          enabled: True
          # The site MUST be disabled before delete it (if not the nginx is not reloaded)
          deleted: False
          overwrite: True # overwrite an existing server file or not
          config:
            - server:
              - server_name: zabbix
              - listen:
                - 8081  # may be any, read nginx man
              - autoindex: 'off'
              - 'location /':
                - root: /usr/share/zabbix
                - fastcgi_index:
                  - index.php
                - index:
                  - index.html
                  - index.php
                - try_files:
                  - $uri
                  - $uri/ =404
                - 'location ~ .*\.php$':
                  - 'include': fastcgi_params
                  - fastcgi_param:
                    - SCRIPT_FILENAME
                    - '$document_root$fastcgi_script_name'
                  - fastcgi_pass:
                    - 'unix:/var/run/php/php7.0-fpm.sock' # it depend php7, need do it right
                access_log: '/var/log/nginx/zabbix_rock.access.log'
                error_log:
                  - '/var/log/nginx/zabbix_rock.error.log'
                  - warn

# certs to enable HTTPS, not tested yet.
#    certificates_path:'/etc/nginx/ssl'  # Use this if you need to deploy below certificaes in a custom path.
# If you're doing SSL termination, you can deploy certificates this way.
# The private one(s) should go in a separate pillar file not in version
# control (or use encrypted pillar data)
#    certificates:
#      'www.example.com':
#        public_cert: |
#          -----BEGIN CERTIFICATE-----
#          (Your Primary SSL certificate: www.example.com.crt)
#          -----END CERTIFICATE-----
#          -----BEGIN CERTIFICATE-----
#          (Your Intermediate certificate: ExampleCA.crt)
#          -----END CERTIFICATE-----
#          -----BEGIN CERTIFICATE-----
#          (Your Root certificate: TrustedRoot.crt)
#          -----END CERTIFICATE-----
#        private_key: |
#          -----BEGIN RSA PRIVATE KEY-----
#          (Your Private Key: www.example.com.key)
#          -----END RSA PRIVATE KEY-----
#    dh_param:
#      'mydhparam1.pem': |
#        -----BEGIN DH PARAMETERS-----
#        (Your custom DH prime)
#        -----END DH PARAMETERS-----
#      # or to generate one on-the-fly
#      'mydhparam2.pem':
#        keysize: 2048

